@import 'tailwindcss';

@layer base {
  :where(a, button, input, select, textarea, [tabindex]):focus-visible {
    outline: 3px solid white;
    outline-offset: 2px;
    box-shadow: 0 0 0 5px #1d4ed8;
  }
}
